@{
    ViewData["Title"] = "About Us";
}
<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="bradcam_text text-center">
                    <h3>About Us</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end -->
<br>
<br>
<br>
<br>
<!-- pet_care_area_start  -->
<div class="pet_care_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6">
                <div class="pet_thumb">
                    <img src="~/Customer/img/about/pet_care.png" alt="">
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1 col-md-6">
                <div class="pet_info">
                    <div class="section_title">
                        <h3>
                            <span>We look after your pet</span> <br>
                            Just like you do
                        </h3>
                        <p>
                            With a focus on convenience and quality care, <br>
                            Anipat makes scheduling appointments simple—so your pets can receive top-notch grooming while you enjoy peace of mind.<br>
                            We treat every pet as part of our family, helping them look great, feel comfortable, and stay healthy.<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- pet_care_area_end  -->
<!-- team_area_start  -->
<div class="team_area">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-lg-6 col-md-10">
                <div class="section_title text-center mb-95">
                    <h3>Our Team</h3>
                    <p>Our passionate team of pet lovers is dedicated to providing gentle, professional, and personalized care for every furry client.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single_team">
                    <div class="thumb">
                        <img src="~/Customer/img/team/team_member_1.jpg" alt="">
                    </div>
                    <div class="member_name text-center">
                        <div class="mamber_inner">
                            <h4>Rala Emaia</h4>
                            <p>Senior Director</p>
                        </div>
                    </div>
                    <br><br>
                    <p>Our passionate team of pet lovers is dedicated to providing gentle, professional, and personalized care for every furry client.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_team">
                    <div class="thumb">
                        <img src="~/Customer/img/team/team_member_2.jpg" alt="">
                    </div>
                    <div class="member_name text-center">
                        <div class="mamber_inner">
                            <h4>jhon Smith</h4>
                            <p>Senior Director</p>
                        </div>
                    </div>
                    <br><br>
                    <p>Our passionate team of pet lovers is dedicated to providing gentle, professional, and personalized care for every furry client.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_team">
                    <div class="thumb">
                        <img src="~/Customer/img/team/team_member_3.jpg" alt="">
                    </div>
                    <div class="member_name text-center">
                        <div class="mamber_inner">
                            <h4>Rala Emaia</h4>
                            <p>Senior Director</p>
                        </div>
                    </div>
                    <br><br>
                    <p>Our passionate team of pet lovers is dedicated to providing gentle, professional, and personalized care for every furry client.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_team">
                    <div class="thumb">
                        <img src="~/Customer/img/team/team_member_4.jpg" alt="">
                    </div>
                    <div class="member_name text-center">
                        <div class="mamber_inner">
                            <h4>Rala Emaia</h4>
                            <p>Senior Director</p>
                        </div>
                    </div>
                    <br><br>
                    <p>Our passionate team of pet lovers is dedicated to providing gentle, professional, and personalized care for every furry client.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_team">
                    <div class="thumb">
                        <img src="~/Customer/img/team/team_member_5.jpg" alt="">
                    </div>
                    <div class="member_name text-center">
                        <div class="mamber_inner">
                            <h4>jhon Smith</h4>
                            <p>Senior Director</p>
                        </div>
                    </div>
                    <br><br>
                    <p>Our passionate team of pet lovers is dedicated to providing gentle, professional, and personalized care for every furry client.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_team">
                    <div class="thumb">
                        <img src="~/Customer/img/team/team_member_6.jpg" alt="">
                    </div>
                    <div class="member_name text-center">
                        <div class="mamber_inner">
                            <h4>Rala Emaia</h4>
                            <p>Senior Director</p>
                        </div>
                    </div>
                    <br><br>
                    <p>Our passionate team of pet lovers is dedicated to providing gentle, professional, and personalized care for every furry client.</p>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
</div>
<!-- team_area_start  -->